# Suppress R files
.Rproj.user/
ahalleri_pot.Rproj
*.txt
*.Rhistory

# Suppress the following folders
16S_analysis_PK
16S_prelim_DL
Chem_analysis_new
Chem_analysis_old_wrong
Data
DNA_extraction
Functional_Analysis
Github_Rscripts
ITS_analysis_PK
Plots
Test_Homegenity_old_wrong
Results
Soil_Chem_Analysis_ABK
Arabidopsis_clonal_pot_ABK

# Suppress the file
Time_Log_Spring2022.xlsx
Enzymes_function.xlsx

#Suppress R scrips
Rscripts/8-Funguild.R
Rscripts/12-Reaction_Norms_test.R


Suppress all pdf files
*.pdf
